In [89]:
a=67
print(a)
print(a," is ",type(a))

b=32.56
print(b)
print(b," is ",type(b))

c="Rishika"
print(c)
print(c," is ",type(c))

d=True
print(d)
print(d," is ",type(d))

67
67  is  <class 'int'>
32.56
32.56  is  <class 'float'>
Rishika
Rishika  is  <class 'str'>
True
True  is  <class 'bool'>

In [91]:
### addition +
### subtraction -
### multiplication *
### division /
### reminder %
### power **
### // floor division

a=109
b=3
print(a+b,type(a+b))
print(a-b,type(a-b))
print(a*b,type(a*b))
print(a/b,type(a/b))
print(a%b,type(a%b))
print(a**b,type(a**b))
print(a//b,type(a//b))

112 <class 'int'>
106 <class 'int'>
327 <class 'int'>
36.333333333333336 <class 'float'>
1 <class 'int'>
1295029 <class 'int'>
36 <class 'int'>

In [81]:
# comparision operators < > <= >= != ==
a=45
b=32

print(a<b)
print(a>b)
print(a<=b)
print(a>=b)
print(a!=b)
print(a==b)

False
True
False
True
True
False

In [113]:
# logical operators - 'AND' 'OR' 'NOT'
a = 15
print(a<30)
print(a>10) 
print(a<30 and a>10)
print(a>=10 or a>=20)
print(not a<30)

True
True
True
True
False

In [13]:
a = (2,3,4,5)
type(a)

tuple

In [47]:
c = [56,'rishika',True,48.32,78,'hyderabad',False,85.25]
print(c,'is of',type(c))

[56, 'rishika', True, 48.32, 78, 'hyderabad', False, 85.25] is of <class 'list'>

In [49]:
print(c[2],'is of',type(c[2]))

True is of <class 'bool'>

In [89]:
#indexing
print(c[1:3])
print(c[1:8:2])
print(c[-5::2])

['rishika', True]
['rishika', 48.32, 'hyderabad', 85.25]
[48.32, 'hyderabad', 85.25]

In [8]:
# LIST METHODS - append, insert, extend, remove, pop, clear, delete, count
d = [85,56,"hello",25.3,True,False,41,"hi"]
d.append(50)
d

[85, 56, 'hello', 25.3, True, False, 41, 'hi', 50]

In [12]:
d.insert(4,67.5)
d

[85, 56, 'hello', 25.3, 67.5, 67.5, True, False, 41, 'hi', 50]

In [14]:
d.remove(67.5)
d

[85, 56, 'hello', 25.3, 67.5, True, False, 41, 'hi', 50]

In [20]:
d.pop(0)
d

[56, 'hello', 25.3, 67.5, True, False, 41, 'hi', 50]

In [22]:
d.count(56)

1