<a href="https://colab.research.google.com/github/rishi0119/skills-introduction-to-github/blob/main/For_%26_while_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 5
while x<10 :
  print("yes",x,"is less than 10")
  x=x+1
print(x)

yes 5 is less than 10
yes 6 is less than 10
yes 7 is less than 10
yes 8 is less than 10
yes 9 is less than 10
10

In [ ]:
dollars = [10,20,30,40,50,60,70,80,90]
Indian_rupees = []
for i in dollars:
  Indian_rupees.append(i*85.87)
print(Indian_rupees)

[858.7, 1717.4, 2576.1000000000004, 3434.8, 4293.5, 5152.200000000001, 6010.900000000001, 6869.6, 7728.3]

In [ ]:
num = [31,45,66,33,90,78,67,87,89,93,25,59,9,81]
U =[]
I = []
O = []
for i in num:
  if i>50 :
    U.append(i)
  elif i<50 :
    I.append(i)
  else :
    O.append(i)
print(U)
print(I)
print(O)

[66, 90, 78, 67, 87, 89, 93, 59, 81]
[31, 45, 33, 25, 9]
[]

In [ ]:
num = [31,45,66,44,90,78,67,87,99,98,25,9,8,25,84,65,62,42]
Even =[]
Odd = []
for i in num:
  if i%2==0 :
    Even.append(i)
  else :
    Odd.append(i)
print("Even Number : ",Even)
print("Odd Number : ",Odd)

Even Number :  [66, 44, 90, 78, 98, 8, 84, 62, 42]
Odd Number :  [31, 45, 67, 87, 99, 25, 9, 25, 65]