In [116]:
# if and else 
#if condition1 :
#    Statement
#elif condition2 :
#    statement
#elif condition3 :
#    statement
#.
#.
#.
#elif conditionn :
#    statement
#else :
#    statement

In [6]:
Q = 5
if Q%2==0 :
    print(Q,"is even")
else :
    print(Q,"is odd")

5 is odd

In [10]:
Q = 6
Q%2==0

True

In [24]:
W = 21.5
if W>0 :
    print(W,"is positive")
elif W<0 :
    print(W,"is negative")
else :
    print(W)

21.5 is positive

In [108]:
R = "telangana"
if R[0].lower()=='t':
    print("Yes")
else :
    print("No")

Yes

In [110]:
R = "telangana"
if R[0]=='t' or R[0]=='T':
    print("Yes")
else :
    print("No")

Yes

In [98]:
T = "Hello"
Y = ["M","m","S","s","T","t"]
if T[0] in Y:
    print("Yes")
else :
    print("No")

No

In [114]:
T = "Mumbai"
if T[0].lower() in ["m","s","t"]:
    print("Yes")
else :
    print("No")

Yes