In [18]:
import numpy as np
b=np.random.randint(20,80,(8,9))
b

array([[75, 53, 57, 65, 58, 33, 52, 46, 34],
       [52, 55, 63, 56, 66, 65, 51, 27, 60],
       [57, 74, 24, 60, 39, 56, 60, 46, 35],
       [68, 30, 59, 28, 34, 42, 49, 24, 39],
       [56, 69, 58, 54, 32, 30, 51, 75, 26],
       [51, 62, 53, 47, 32, 50, 78, 66, 34],
       [31, 70, 51, 73, 42, 52, 46, 49, 72],
       [26, 34, 69, 48, 77, 47, 69, 59, 59]])

In [16]:
# array[row start: row end :row step , col start: col_end:col_step]

In [24]:
import pandas as pd

In [39]:
k=[[4,7],[2,9],[7,3],[90,50]]
k

[[4, 7], [2, 9], [7, 3], [90, 50]]

In [43]:
t = np.array(k)

In [53]:
t.ndim

2

In [49]:
pd.Series(k)

0      [4, 7]
1      [2, 9]
2      [7, 3]
3    [90, 50]
dtype: object

In [67]:
pd.Series(t)

ValueError: Data must be 1-dimensional, got ndarray of shape (4, 2) instead

In [65]:
pd.DataFrame(t)

    0   1
0   4   7
1   2   9
2   7   3
3  90  50

In [69]:
Df = pd.DataFrame(t,columns=["name","sub"],index=[289,290,291,292])
Df

     name  sub
289     4    7
290     2    9
291     7    3
292    90   50

In [74]:
Df.columns

Index(['name', 'sub'], dtype='object')

In [71]:
Df.index

Index([289, 290, 291, 292], dtype='int64')

In [80]:
Df["sub"].mean()

17.25

In [82]:
Df["sub"].median()

8.0

In [86]:
Df["sub"].mode()

0     3
1     7
2     9
3    50
Name: sub, dtype: int32

In [88]:
Df["sub"].var()

482.9166666666667

In [90]:
Df["sub"].std()

21.975364995072702

In [92]:
Df["sub"].min()

3

In [94]:
Df["sub"].max()

50

In [96]:
Df["sub"].quantile(0.25)

6.0

In [98]:
Df["sub"].quantile(0.75)

19.25